name: ci
on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: golang:1.12.9
    steps:
      - uses: actions/checkout@v4
      - run: echo "Content moved to the server branch"