name: Java Build and Package
on:
  push:
    branches:
      - main
jobs:
  build-and-package:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '25'
      - name: Package with Maven
        run: mvn -B package --fail-at-end