name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: cimg/go:1.12.9
    steps:
      - uses: actions/checkout@v4
      - run: echo "Content moved to the server branch"