name: CI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.12.9'
      - name: Run script
        run: echo "Content moved to the server branch"
      - name: Run Maven
        run: mvn -B package --fail-at-end